html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.calculator {
  height: 400px;
  width: 400px;
  display: grid;
}

.display {
  display: grid;
  background-color: aqua;
  color: black;
  grid-column: span 4;
  text-align: right;
  vertical-align: text-bottom;
  font-weight: bold;
  font-size: 35px;
  border-radius: 10px;
}

.calc-buttons {
  display: grid;
  column-gap: 1px;
  row-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.calc-buttons button:nth-child(18) {
  grid-column: span 2;
}

.btn {
  background-color: white;
  color: green;
  border-radius: 10px;
}
